.SidePanel {
  /*background: #33CCFF;*/
  width: 150px;
  float: left;

  background-color: #282c34;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 3px solid #FF00FF;
}
