.SidePanel {
  width: 200px;
  float: left;

  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 3px solid #FF00FF;
  background-color: #111815;
  opacity: 0.85;
}

.SidePanel > .List {
  list-style-type: none;
  padding-inline-start: 0px;
}
